@charset "UTF-8";
:root {
  /*   Переменніе для body   */
  --font-family-main: "Roboto", sans-serif;
  --color-text-main: #757575;
  /* --font-family-secondary: 'Raleway', sans-serif; */
  --color-bgd-main: #ffffff;
  /* -------------------- */
  --color-logotype: #2196f3;
  --color-logotipe-accent-footer: #ffffff;
  --color-menu-link: #212121;
  --color-menu-link-hover: #2196f3;
  --color-text-hero: #ffffff;
  --color-btn-main: #2196f3;
  --color-btn-main-hover: #188ce8;
  --color-btn-text-main: #ffffff;
  --color-bgd-team: #f5f4fa;
  --color-fill-icon: #afb1b8;
  /*------------------Footer------------ */
  --color-bgd-secondary: #2f303a;
  --color-footer-adress-link: #ffffff;
  --color-footer-adress-link-hover: #2196f3;
  --color-footer-contacts-link: rgba(255, 255, 255, 0.6);
  /*    portfolio      */
  --text-btn: #212121;
  --color-btn: #f5f4fa;
  --text-btn-hover: #ffffff;
  --color-btn-hover: #2196f3;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --extra-text-color: #212121;
  --acent-color: rgb(33, 150, 243);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.social-media__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .connection {
    display: none;
  }
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid #ececec;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    position: relative;
    transition: color 250ms var(--cubic-bezier);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-menu-link);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--color-btn-main-hover);
  }
  .menu__link.--curent {
    color: var(--color-btn-main-hover);
  }
  .--curent::after {
    position: absolute;
    bottom: -3px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-btn-main-hover);
  }
  .connection__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .connection {
    display: block;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .connection__item:first-child {
    margin-bottom: 10px;
  }
  .connection__link {
    transition: color 250ms var(--cubic-bezier);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-text-main);
  }
  .connection__link:hover, .connection__link:focus {
    color: var(--color-menu-link-hover);
  }
}
@media screen and (min-width: 1200px) {
  .connection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .connection__item:first-child {
    margin-bottom: 0px;
    margin-right: 50px;
  }
  .connection__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__logotipe {
    display: block;
  }
}
.logotipe {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logotype);
}

.logotipe__accent {
  color: #212121;
}

.footer__logotipe {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logotype);
  text-align: center;
}

.footer__logotipe-accent {
  color: var(--color-logotipe-accent-footer);
}

@media screen and (min-width: 768px) {
  .logotipe {
    margin-right: 93px;
  }
}
body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--top-zero {
  display: none;
  padding-top: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--top-zero {
    display: block;
    padding-top: 0;
  }
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile/hero-mobile.jpg);
  background-color: #c4c4c4;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-hero);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet/hero-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctop/hero-desktop/hero-desktop.jpg);
    padding: 200px 0;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctop/hero-desktop/hero-desktop@2x.jpg);
  }
}
.button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  background: var(--color-btn-main);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  min-width: 140px;
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic-bezier);
}
.button:hover, .button:focus {
  background-color: var(--color-btn-main-hover);
}

.button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-btn-text-main);
}
.button__text:hover, .button__text:focus {
  color: var(--color-btn-text-main);
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
/* ========== START FLEX ACTIVITY ========== */
.service__list {
  display: flex;
  justify-content: space-between;
}

.activity.section {
  padding-top: 0px;
}

.activity {
  padding-top: 0px;
}

.service__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.service__header {
  position: absolute;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 70px;
  color: var(--color-bgd-main);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(10, 11, 15, 0.8));
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* Стилизация команды */
.team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-text-color);
  text-align: center;
}

.team__img {
  width: 450px;
}

.team__foot {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-text-hero);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
}

.team__description {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: nowrap;
  }
  .team__item {
    width: calc((100% - 90px) / 3);
  }
  .team__img {
    width: 279px;
    height: 260px;
  }
}
.section__other-background {
  background-color: var(--color-bgd-team);
}

/* Стилизация секции партнеры для десктопа */
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--color-fill-icon);
}
.clients__link:hover, .clients__link:focus {
  color: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 479px) {
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .clients__link {
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .clients {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .clients__item {
    display: flex;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
  .clients__link {
    width: 170px;
  }
}
.footer {
  background-color: var(--color-bgd-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .subscribe-media {
    margin-top: 60px;
  }
}
.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  display: block;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
.address__link:hover, .address__link:focus {
  color: var(--acent-color);
}
@media screen and (min-width: 1200px) {
  .address__link {
    text-align: left;
  }
}

.address__link--white {
  color: var(--color-bgd-main);
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  color: var(--color-bgd-main);
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--letter-spacing-base);
}

.subscribe-form__input {
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  width: 100%;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
  color: var(--color-bgd-main);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}
.subscribe-form__input:hover, .subscribe-form__input:focus {
  border-color: var(--acent-color);
}

.subscribe-form__btn {
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 28px 10px 28px;
  min-width: 200px;
  border-color: transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-bgd-main);
  background-color: var(--acent-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: var(--font-weight);
  line-height: 1.88;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
}
.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: #188ce8;
}

.subscribe-form__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    margin-top: 60px;
  }
}
/* Стилизация подвала для десктопа */
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .address-block {
    flex-grow: 1;
    margin-right: 70px;
  }
  .subscribe-title {
    text-align: left;
  }
  .subscribe-media {
    margin-bottom: 0;
  }
  .subscribe-form {
    display: block;
    width: 570px;
    margin-left: 93px;
  }
  .subscribe-form__block {
    display: flex;
  }
  .subscribe-form__input {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.filters__btn {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-btn);
  background-color: var(--color-btn);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--color-btn-hover);
  color: var(--text-btn-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.filters__item {
  margin-right: 8px;
}
.filters__item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .filters__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
  .filters {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .drafts__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .drafts {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .drafts__item {
    display: flex;
    width: 354px;
    text-align: left;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .drafts {
    justify-content: center;
  }
  .drafts__item {
    width: 370px;
  }
}
.drafts__picture {
  width: 450px;
}

.portfolio {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-menu-link);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text-main);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: transform 250ms var(--cubic-bezier);
}

.drafts__thumb {
  position: relative;
  overflow: hidden;
}

.drafts__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  display: block;
}
.drafts__link:hover, .drafts__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.drafts__link:hover .overlay, .drafts__link:focus .overlay {
  transform: translatey(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* opacity: 1; */
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 92%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 451px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #afb1b8;
  padding: 0;
  color: #000;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: #188ce8;
}

.modal__close-btn-icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__form {
  margin-bottom: 20px;
}

.modal__title {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
  margin-bottom: 12px;
}

.modal__label {
  color: var(--color-text-main);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
}

.modal__input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  min-height: 40px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--color-btn-hover);
}

.modal__item {
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  display: flex;
  flex-direction: column;
  color: #000;
}
.modal__item:hover, .modal__item:focus-within {
  color: var(--color-btn-main-hover);
}
.modal__item:not(:last-child) {
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  bottom: 15px;
  fill: currentColor;
}

.modal__textarea {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  min-height: 40px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.modal__textarea:hover, .modal__textarea:focus-within {
  border-color: var(--color-btn-main-hover);
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: flex;
  margin-bottom: 30px;
}

.policy__label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
.policy__label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-image: url(../images/off.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
  transition: outline 250ms var(--cubic-bezier);
}

.policy__checkbox:checked + .policy__label::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.policy__checkbox:checked + .policy__label::before:hover, .policy__checkbox:checked + .policy__label::before:focus + .policy__label::before {
  outline: 1px solid rgb(33, 150, 243);
}

.policy__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  color: var(--color-menu-link-hover);
  font-family: inherit;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  outline: none;
}
.policy__link:focus {
  color: #188ce8;
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: block;
    background-color: transparent;
    color: #000;
    border: none;
    padding: 0;
    line-height: 0;
    outline: none;
  }
  .menu-btn:hover, .menu-btn:focus {
    color: var(--acent-color);
  }
  .menu-btn__icon {
    fill: currentColor;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bgd-main);
    overflow: auto;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms var(--transition-timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    transition-property: transform;
    transition-duration: 2000ms;
    transition-timing-function: linear;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    color: #000;
    outline: none;
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    color: var(--acent-color);
  }
  .mobile-menu__close-icon {
    fill: currentColor;
  }
  .mobile-menu__list {
    margin-bottom: 302px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    color: var(--extra-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--acent-color);
  }
  .mobile-menu__link--currant {
    color: var(--acent-color);
  }
  .mobile-menu__contact-list {
    margin-bottom: 64px;
  }
  .mobile-menu__contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__contact-link--accent {
    color: var(--acent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contact-link {
    color: var(--text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .mobile-menu__social-media-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .mobile-menu__socia-media-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  .mobile-menu__social-media-link {
    color: var(--acent-color);
    padding-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
.features__icons-box {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--color-bgd-team);
}

.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
}

.features__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
  .features__item {
    width: 354px;
    margin: 15px;
  }
  .features__icons-box {
    width: 100%;
  }
  .features__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    flex-wrap: nowrap;
  }
  .features .features__item {
    width: 270px;
  }
}
/* Стилизация списка социальных сетей на странице */
.social-media {
  display: flex;
  justify-content: center;
}

.social-media__item:not(:nth-child(4n)) {
  margin-right: 10px;
}

.social-media__link {
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  justify-content: center;
  align-items: center;
  color: var(--color-fill-icon);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--acent-color);
  color: var(--color-footer-adress-link);
}

.social-media__icon {
  fill: currentColor;
}

.social-media__icon-footer {
  color: white;
}

.social-media__link-footer {
  color: var(--color-footer-adress-link);
}/*# sourceMappingURL=main.css.map */