.features__icons-box {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--color-bgd-team);
}
.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-menu-link);
}

.features__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  .features__item {
    width: 354px;
    margin: 15px;
  }

  .features__icons-box {
    width: 100%;
  }

  .features__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    flex-wrap: nowrap;

    .features__item {
      width: 270px;
    }
  }
}
